
a:hover, a:visited, a:link, a:active {
	text-decoration: none !important;
}

.aboutMeTopicMain {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 500px;
	width: 1310px;
	border: 3px solid #dfdfdf;

	.aboutMeLong {
		position: absolute;
		display: inline-block;
		top: 50px;
		left: 10px;
		height: 440px;
		width: 98%;
		overflow-y: auto; // show vertical
		overflow-x: hidden; // hide horizontal
		visibility: hidden;
		//border: 3px solid chartreuse;
	}

	.aboutMeShort {
		position: absolute;
		display: inline-block;
		top: 50px;
		left: 10px;
		height: 440px;
		width: 98%;
		overflow-y: auto; // show vertical
		overflow-x: hidden; // hide horizontal
		background-color: white;
		visibility: visible;
		//border:  solid black 1px;
	}

	.aboutFAQ {
		position: absolute;
		display: inline-block;
		top: 50px;
		left: 10px;
		height: 440px;
		width: 98%;
		overflow-y: auto; // show vertical
		overflow-x: hidden; // hide horizontal
		background-color: white;
		visibility: hidden;
	}

	.tools {
		position: absolute;
		display: inline-block;
		top: 50px;
		left: 10px;
		height: 440px;
		width: 98%;
		overflow-y: auto; // show vertical
		overflow-x: hidden; // hide horizontal
		background-color: white;
		visibility: hidden;
	}

	.aboutContact {
		position: absolute;
		display: inline-block;
		top: 50px;
		left: 10px;
		height: 440px;
		width: 98%;
		overflow-y: hidden; // show vertical
		overflow-x: hidden; // hide horizontal
		background-color: white;
		visibility: hidden;

		.addressEmail {
			position: absolute;
			top: 10px;
			left: 20px;
		}

		.addressToronto {
			position: absolute;
			top: 50px;
			left: 200px;
			height: 400px;
			width: 300px;
		}

		.addressBoston {
			position: absolute;
			top: 50px;
			left: 500px;
			height: 400px;
			width: 300px;
		}

		.addressCapeCod {
			position: absolute;
			top: 50px;
			left: 800px;
			height: 300px;
			width: 250px;
		}
	}
}

.aboutVersions {
	position: absolute;
	top: 20px;
	left: 300px;

	.longVersion {
		float: left;
		position: relative;
		margin-right: 50px;
		width: 90px;
		cursor: pointer;
		a:hover {
			background-color: yellow;
		}
	}

	.shortVersion {
		float: left;
		position: relative;
		margin-right: 53px;
		width: 90px;
		cursor: pointer;
		a:hover {
			background-color: yellow;
		}
	}

	.faqVersion {
		float: left;
		position: relative;
		width: 40px;
		margin-right: 60px;
		cursor: pointer;
		a:hover {
			background-color: yellow;
		}
	}

	.contactVersion {
		float: left;
		position: relative;
		width: 55px;
		cursor: pointer;
		a:hover {
			background-color: yellow;
		}
	}
}

.aboutTopicText {
	position: absolute;
	top: -25px;
	left: -25px;

}

.myPre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.btnResume {
	position: absolute;
	top: 15px;
	left: 900px;
}

.fa-cogs {
	color: #ffffff;
}

.fa-cogs:hover {
	color: #7c9ea3;
}

.iconCogs {
	position: absolute;
	top: 5px;
	left: 5px;
}

.androidGreen {
	font-weight: bolder;
	color: #A4C639;
}

.timeLine {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 412px;
	width: 1265px;
	background-image: url("../img/timeLine.png");
	background-repeat: no-repeat;
}







