
.blogTopicMain {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 500px;
	width: 1310px;
	border: 1px solid black;
}

.blogTopicText {
	position: absolute;
	top: -25px;
	left: -25px;
}

.blogContainer {
	position: absolute;
	top: 75px;
	left: 10px;
	border: 1px solid black;
	display: table-cell;
	width: 1275px;
	height: 400px;
	overflow-y: auto; // hide vertical
	overflow-x: hidden; // hide horizontal
	visibility: visible;

	.blogItem {
		height: 50px;
		width: 1250px;
		border: 1px solid rgba(124, 158, 163, 0.86);
		margin: 5px;

		.blogItemTitle {
			font-family: Consolas, Menlo, Monaco, monospace;
			font-weight: bold;
			position: relative;
			left: 200px;
			top: 2px;
		}

		.blogItemDate {
			font-family: Consolas, Menlo, Monaco, monospace;
			font-style: italic;
			position: relative;
			top: -17px;
			left: 5px;
			color: #515370;
		}

		.blogItemAbstract {
			position: relative;
			top: -15px;
			left: 5px;
			font-family: Consolas, Menlo, Monaco, monospace;
		}
	}
}

.fullBlogArticle {
	position: absolute;
	top: 63px;
	left: 10px;
	border: 2px solid #d8d8d8;
	height: 84%;
	width: 98%;
	visibility: hidden;
	overflow-y: auto;
	overflow-x: hidden; // hide horizontal
	//white-space: pre;
}

.closeBlogItem {
	position: absolute;
	top: -3px;
	left: 1225px;
	color: #ff0000;
}

.searchTermInput {
	position: absolute;
	top: 12px;
	left: 600px;
	width: 300px;
}

.blogItemTitleArticle {
	font-family: Consolas, Menlo, Monaco, monospace;
	font-weight: bold;
	position: absolute;
	left: 20px;
	top: 2px;
	font-size: 24pt;
}

.blogItemContent {
	font-family: Consolas, Menlo, Monaco, monospace;
	position: absolute;
	top: 60px;
	left: 5px;
}

pre {
	position: relative;
	left: 20%;
	width: 400px;
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 3px solid #ccc;
	border-radius: 4px;
}

.newLine {
	position: relative;
	height: 10px;
	width: 100%;
}

