.info0{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -265px;
	margin-left: -700px;
	height: 530px;
	width: 1400px;
	background-color: #ffffff;
	border: 3px black solid;
	border-radius: 10px;
	visibility: hidden;
}

.info1{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -265px;
	margin-left: -700px;
	height: 530px;
	width: 1400px;
	background-color: #ffffff;
	border: 3px black solid;
	border-radius: 10px;
	visibility: hidden;
}

.info2{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -265px;
	margin-left: -700px;
	height: 535px;
	width: 1400px;
	background-color: #ffffff;
	border: 3px black solid;
	border-radius: 10px;
	visibility: hidden;
}

.info3{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -265px;
	margin-left: -700px;
	height: 530px;
	width: 1400px;
	background-color: #ffffff;
	border: 3px black solid;
	border-radius: 10px;
	visibility: hidden;
}

.menuIcon{
	position: absolute;
	top: 20px;
	left: 95%;
}
