
.portfolioTopicMain {
	position: absolute;
	top: 10px;
	left: 10px;
	height: 500px;
	width: 1310px;
	border: 1px solid black;
}

.portfolioTopicText {
	position: absolute;
	top: -25px;
	left: 10px;
}