

$outputWidth6:500;
$outputHeight6:500;


.div6{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -260px;
	height: $outputHeight6 + px;
	width: $outputWidth6 + px;
	background-color: white;
	fill-opacity:0.0;
}

.transCircle {
	fill: rgba(94, 192, 245, 0.52);
	stroke: #000000;
	stroke-width: 1.5;
	fill-opacity:0.0;
}

.fillCircle {
	fill: #f9a740;
	stroke: #000000;
	stroke-width: 1.5;
	fill-opacity:1.0;
}

.tri{
	position: absolute;
	top: 20px;
	left: 0px;
	height: 500px;
	width: 500px;
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
	transform: rotate(180deg);
	visibility: hidden;
}



path.p0 {
	fill: #000000;
	fill-opacity:0.50;
}

path.p1 {
	fill: #000000;
	fill-opacity:0.50;
}

path.p2 {
	fill: #000000;
	fill-opacity:0.50;
}

svg.pie0 {
	position: absolute;
	top:10px;
	left: 10px;
	width: 500px;
	height: 480px;
	-ms-transform: rotate(21deg); /* IE 9 */
	-webkit-transform: rotate(21deg); /* Chrome, Safari, Opera */
	transform: rotate(21deg);
}

svg.pie1 {
	position: absolute;
	top:10px;
	left: 10px;
	width: 500px;
	height: 480px;
	-ms-transform: rotate(141deg); /* IE 9 */
	-webkit-transform: rotate(141deg); /* Chrome, Safari, Opera */
	transform: rotate(141deg);
}

svg.pie2 {
	position: absolute;
	top:10px;
	left: 10px;
	width: 500px;
	height: 480px;
	-ms-transform: rotate(262deg); /* IE 9 */
	-webkit-transform: rotate(262deg); /* Chrome, Safari, Opera */
	transform: rotate(262deg);
}

.itemLine0{
	position: absolute;
	top:90px;
	left: 471px;
	width: 250px;
	height: 250px;
}

.itemLine1{
	position: absolute;
	top:130px;
	left: 470px;
	width: 250px;
	height: 260px;
}

.itemLine2{
	position: absolute;
	top:105px;
	left: -185px;
	width: 250px;
	height: 260px;
}

.itemLine3{
	position: absolute;
	top:145px;
	left: -185px;
	width: 250px;
	height: 260px;
}

.pline0{
	visibility: hidden;
}
.pline1{
	visibility: hidden;
}
.pline2{
	visibility: hidden;
}
.pline3{
	visibility: hidden;
}

.itemBox0{
	 position: absolute;
	 top:25px;
	 left: 690px;
	 width: 250px;
	 height: 260px;
 }

.rect0{
	visibility: hidden;
}

.itemBox1{
	position: absolute;
	top:300px;
	left: 690px;
	width: 250px;
	height: 260px;
}

.rect1{
	visibility: hidden;
}

.itemBox2{
	position: absolute;
	top:25px;
	left: -420px;
	width: 250px;
	height: 260px;
}

.rect2{
	visibility: hidden;
}

.itemBox3{
	position: absolute;
	top:300px;
	left: -420px;
	width: 250px;
	height: 260px;
}

.rect3{
	visibility: hidden;
}



.cross{
	position: absolute;
	left: 10px;
}

.xlineH{

}
.xlineV{

}

.startIcon{
	position: absolute;
	top: 216px;
	left: 231px;
}

 //-------------------- card flip-----------------
.cardWrapper0 {
	position: absolute;
	top:46px;
	left:-408px;
	width: 225px;
	height: 124px;
	visibility: hidden;
	cursor: pointer;
}

.cardFace0 {
	width: 225px;
	height: 124px;
	position: absolute;
	overflow: hidden;
}

.cardFace0.front0 {
	background: #000000;
}
.cardFace0.back0 {
	background:#ffffff;
	border: 1px solid black;
}

//--------------------------------------

.cardWrapper1 {
	position: absolute;
	top:46px;
	left:702px;
	width: 225px;
	height: 124px;
	visibility: hidden;
	cursor: pointer;
}

.cardFace1 {
	width: 225px;
	height: 124px;
	position: absolute;
	overflow: hidden;
}

.cardFace1.front1 {
	background: #e51f16;
}
.cardFace1.back1 {
	background: #ffffff;
	border: 1px solid black;
}

//--------------------------------------

.cardWrapper2 {
	position: absolute;
	top:321px;
	left:-408px;
	width: 225px;
	height: 124px;
	visibility: hidden;
	cursor: pointer;
}

.cardFace2 {
	width: 225px;
	height: 124px;
	position: absolute;
	overflow: hidden;
}

.cardFace2.front2 {
	background: #2d4eda;
}
.cardFace2.back2 {
	background: #ffffff;
	border: 1px solid black;
}

//--------------------------------------

.cardWrapper3 {
	position: absolute;
	top:321px;
	left:702px;
	width: 225px;
	height: 124px;
	visibility: hidden;
	cursor: pointer;
}

.cardFace3 {
	width: 225px;
	height: 124px;
	position: absolute;
	overflow: hidden;
}

.cardFace3.front3 {
	background: #f9a740;
}
.cardFace3.back3 {
	background: #ffffff;
	border: 1px solid black;
}






