<div class="aboutMeTopicMain" ng-controller="aboutMeTopicCtrl">

	<div class="aboutTopicText" ng-include="'../img/aboutMe.svg'"></div>

	<div class="aboutVersions">
		<div class="longVersion" ng-click="onVersionClick('long')"><a>long version</a></div>
		<div class="shortVersion" ng-click="onVersionClick('short')"><a>short version</a></div>
		<div class="faqVersion" ng-click="onVersionClick('faq')"><a>FAQs</a></div>
		<div class="contactVersion" ng-click="onVersionClick('contact')"><a>Contact</a></div>
	</div>


	<button class="btn btn-success btnResume" ng-click="doResumeDownload()">download resume</button>

	<div class="thisIsAboutMe">
		<div class="newLine"></div>
		<!--<strong>the who</strong>-->
		<!--<div class="newLine"></div>-->
		Software design and development was not something to which I gave much thought to as I charted my education. My
		passions are, and will always be:
		love of the outdoors, exploring, and learning. These three passions have always guided me as I worked my way
		through university as a camp foreman in Northern
		Ontario where I guided <a href="http://www.ontario.ca/page/stewardship-youth-ranger-program" target="_blank">rangers</a>
		down some of the wildest rivers in the country. Here I was also afforded the opportunity to experience the many
		forestry and wildlife programs that were run by the <a
			href="https://www.ontario.ca/ministry-natural-resources-and-forestry" target="_blank">Ontario Ministry of
		Natural Resources & Forestry</a> including wilderness survival, fighting forest fires, and census of
		Polar Bears on the edge of the Canadian Arctic. Throughout all these experiences I developed a deep sense and
		appreciation of integrity,
		leadership, teamwork, mentoring, perseverance and courage. To this day, no matter the circumstance, I will
		always look back to these early lessons and strive to embody
		each of these six principles in every daily challenge I encounter.
		<div class="newLine"></div>
		<!--<strong>the what</strong>-->
		<!--<div class="newLine"></div>-->
		Entering my junior year <a href="http://www.trentu.ca/chemistry/" target="_blank">Trent University</a> in
		Peterborough, Ontario, I felt that pursuing a degree as a Biologist would provide me the academic credentials to
		continue
		my passion of studying the natural environment. But as I worked through courses in Zoology, Botany, Anatomy, and
		Biochemistry - I found these discplines seemed to leave
		many fundamental questions unanswered. I was fascinated in how molecules are created, and how their structure
		manifested the way they interacted. Thus I found myself drawn
		deeper into the science of Organic Chemistry. This area of science fascinated me because it relies on
		understanding of abstract representations of real-world behavior.
		It is an area that I have found I have a talent for as it combines my enhanced spatial learning style with
		abstract languages. Four years later I graduated with a Honours
		Bachelor of Science in Chemistry/Biology. I followed this degree with a <a
			href="http://www.sciencedirect.com/science/article/pii/0167698988902395" target="_blank">Master of
		Science</a> in Chemistry from <a href="http://chem.info.yorku.ca/" target="_blank">York University</a> where I
		specialized in
		<a href="https://en.wikipedia.org/wiki/Enantioselective_synthesis" target="_blank">chiral synthesis</a>.
		<div class="newLine"></div>
		<!--<strong>the why</strong>-->
		<!--<div class="newLine"></div>-->
		Following my Master's degree I explored new opportunities including building log cabins, working as an <a
			href="https://en.wikipedia.org/wiki/Diversey,_Inc." target="_blank">industrial chemist</a>
		involving the creation of tons of product, building <a href="http://www.skihaliburton.com/" target="_blank">wilderness
		ski trails</a>, technical specialist in
		<a href="http://www.sigmaaldrich.com/analytical-chromatography/gas-chromatography.html" target="_blank">capillary
			column chromatrography</a>,
		<a href="http://www.cansi.ca/en/" target="_blank">ski instructor</a>, and <a href="http://www.skipatrol.ca/en/"
																					 target="_blank">ski patrol</a>. I
		was anxious to put my chemistry
		background to work, and I was especially interested in chemicals as pollutants. I joined the <a
			href="https://www.ontario.ca/ministry-environment-and-climate-change" target="_blank">Ontario Ministry of
		the Environment</a>
		as part of the a team responsible for measuring and monitoring air pollutants. It was during this time that I
		became more involved in computer programming. Environmental science
		is a data driven science, and a lot of data gets generated. I specialized in the measurement of trace organics
		using highly specialized equipment such as
		<a href="https://en.wikipedia.org/wiki/Triple_quadrupole_mass_spectrometer/" target="_blank">mass
			spectrometers</a>. My primay role as a senior scientist was to design, and
		oversee <a href="http://www.airqualityontario.com/" target="_blank">air monitoring programs</a>, but I could see
		tremendous advantages in leveraging the nascent internet technology
		and creating computer applications to help analyze the megabytes of data we collected.
		<div class="newLine"></div>
		<!--<strong>and the how</strong>-->
		<!--<div class="newLine"></div>-->
		Eventually I found myself working full time with the government creating web applications. After working on a
		team building the first <a href="https://en.wikipedia.org/wiki/Novell" target="_blank">Local Area Network</a>
		for the Ontario Government,I began focusing on writing <a href="https://en.wikipedia.org/wiki/Perl"
																  target="_blank">Perl</a> scripts to create dymanic web
		apps. As a self taught programmer, it was challenging
		to transition from chemistry to code, but I was convinced that moving our widely distributed data and
		applications would be a tremendous accelerator in our scientific endeavours.
		One fateful day I chanced upon web programming language called <a
			href="https://en.wikipedia.org/wiki/Adobe_ColdFusion" target="_blank">ColdFusion</a>. To a self-taught
		developer with
		no knowledge of SQL, relational databases, or even how to write conditional logic, ColdFusion was miraculous. I
		immediately started building a network of ColdFusion application
		servers that brought previously isolated databases and form based operations into the web. I became interested
		in creating ways for simple users to modify web content
		without the need of web developers. The term for this had yet to be discovered, but is now known as <a
			href="https://en.wikipedia.org/wiki/Adobe_ColdFusion" target="_blank">CMS.</a> Through my
		activity in public forums, and the developer community in Toronto I became a beta tester for a <a
			href="https://www.adobe.com/support/spectra/releasenotes/releasenotes15.htm" target="_blank">(Spectra)</a>CMS
		being developed in ColdFusion. I was offered a position on Spectra development team in Boston, Massachusetts to
		bring the product to market. It was a tremendous honor to
		work with the team that created ColdFusion, and to work with one of the fastest growing tech companies in the
		world, in an amazing place like Boston. After a number of
		full cycle release experiences with Spectra, I was moved onto the flagship product - ColdFusion - as the company
		prepared a <a href="https://en.wikipedia.org/wiki/Adobe_ColdFusion#ColdFusion_MX_6" target="_blank">major
		release.</a>
		After the release of ColdFusion MX, I was invited to joined an elite team of engineers who were developing a for
		the development <a href="https://en.wikipedia.org/wiki/Apache_Flex" target="_blank">Flex</a>
		revolutionary product for the development of rich internet applications based on the Flash Player.
		<div class="newLine"></div>
		<!--<strong>and then what?</strong>-->
		<!--<div class="newLine"></div>-->
		Flex became widely adopted by businesses that could see the tremendous advantage of creating applications that
		leveraged Actionscript's
		<a href="https://en.wikipedia.org/wiki/Adobe_ColdFusion" target="_blank">Action Message Format.</a> I was
		recruited out of Adobe to Sun Life Financial in Boston
		to lead up a team responsible for porting their in-house legacy applications to Flex. This was a tremendous
		opportunity for since, although I had an intimate knowledge
		of how Flex worked as an engineer, I didn't have real-life exposure to creating business critical applications.
		My learning now turned to focus on design patterns and
		the architecture of large multi-tiered applications. I was now transitioning into a hybrid project
		manager/application architect as I learned to master versioning tools
		like <a href="https://en.wikipedia.org/wiki/Apache_Subversion" target="_blank">Subversion</a> and <a
			href="https://en.wikipedia.org/wiki/JIRA" target="_blank">Git</a>,
		and program management tools like <a href="https://en.wikipedia.org/wiki/JIRA" target="_blank">Jira</a>, and <a
			href="https://en.wikipedia.org/wiki/JIRA" target="_blank">agile</a>
		software developent methodology, and <a
			href="https://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">design
		patterns</a>

		<div class="newLine"></div>
		<!--<strong>wrap this up!</strong>-->
		<!--<div class="newLine"></div>-->
		After almost four years at Sun Life, I had an opportunity with <a href="http://www.ibm.com/" target="_blank">IBM,
		Boston/New York</a> to create a team devoted to creating interactive applications. This
		was an exciting position that cleanly divided the team into User Experience and Creative, database, project
		managers, middle-tier java developers, and finally my team - front
		end specialists. The mandate was to focus on creating desktop Adobe <a href="https://get.adobe.com/air/"
																			   target="_blank">AIR</a> applications that
		could be easily distributed to our clients
		and which would encapsulate powerful on- and off-line data synchronization. In addition, I became a strong
		advocate of <a href="https://swizframework.jira.com/wiki/display/SWIZ/Home" target="_blank">Inversion of Control
		/ Dependency Injection</a>
		frameworks. For four years I worked with teams, and led teams that created mission critical applications for
		fortune 500 companies around the world.
		<div class="newLine"></div>
		<!--<strong>getting there</strong>-->
		<!--<div class="newLine"></div>-->
		Leaving IBM, I changed direction and concentrated on mastering mobile (<a href="https://www.android.com/"
																				  target="_blank">Android</a>), and the
		HTML5 technologies. The advent of
		the iPad, and the finalization of the <a href="https://en.wikipedia.org/wiki/HTML5" target="_blank">HTML</a>
		standard set the stage for a rapid decline in AIR and Flash projects.
		I took on a contract position with <a href="https://www.underarmour.com" target="_blank">Under Armour</a> where
		I could work with a team developing their primary web site which was responsible for $700k in transactions /
		day.
		The UA site was an enormous, and complex project that combined state-of-the-art HTML5 technology with 10 yr old
		legacy code. The amount of technical debt made this a very challenging experience
		and one where I could leverage my past experience in ColdFusion and Flex, as I learned and experimented with the
		newest javascript frameworks such as <a href="http://backbonejs.org/" target="_blank">Backbone.js</a>,
		<a href="http://backbonejs.org/" target="_blank">Emberjs</a>.
		<div class="newLine"></div>
		<!--<strong>and finally</strong>-->
		<!--<div class="newLine"></div>-->
		It was while I was at UA that I decided that I wanted to concentrate on two technologies: <span
			class="androidGreen">Android</span> and <a href="https://angularjs.org/" target="_blank">AngularJS</a>. I
		left to focus
		on developing applications that would provide a seamless integration between web and mobile applications, using
		<a href="https://cloud.google.com/appengine/" target="_blank">Google's cloud platform</a>. With a private
		investor, I have created an application that shares the <a
			href="https://en.wikipedia.org/wiki/Advanced_Encryption_Standard" target="_blank">AES</a> <a
			href="http://www.theinquirer.net/inquirer/news/2102435/aes-encryption-cracked" target="_blank">encrypted</a>
		information
		between a <a href="http://www.tbd.com/" target="_blank">Android</a> java, and an <a href="http://www.tbd.com/"
																							target="_blank">AngularJS/javascript</a>
		implementation. I have also developed web/mobile prototypes for
		<a href="http://www.equinox.com/clubs/toronto/bayst" target="_blank">Equinox</a>, <a
			href="www.cellulitereductioncenterboston.co" target="_blank">SoundShapes</a>
		and <a href="http://nexthabitatadvisors.com/" target="_blank">NextHabitat</a>.
		<div class="newLine"></div>
		<strong>to be continued...</strong>

		<div class="newLine"></div>
	</div>

	<div class="aboutMeShort">Don't worry the short version is coming soon!</div>

	<div class="aboutFAQ">Frequently Asked Questions are on their way!</div>

	<div class="aboutContact">
		<div class="addressEmail">
			<i class="fa fa-envelope"></i>&nbsp;mikecorbridge@mcorbridge.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
				class="fa fa-phone-square"></i>&nbsp;617.964.4529
		</div>

		<div class="addressToronto">
			133 Hazelton Ave, Suite 401<br>
			<strong>Toronto</strong>, Ontario, Canada <br>
			M5R 0A6<br>
			416.962.5785
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d219728.55536353288!2d-79.31864513237153!3d43.64785803623462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1449190737103"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="addressBoston">
			197 8th St., #620<br>
			<strong>Boston</strong>, Massachusetts, USA<br>
			02129<br>
			617.242.0585
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94366.2590246443!2d-71.07947515459752!3d42.34368329128621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA%2C+USA!5e0!3m2!1sen!2sca!4v1449192222270"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="addressCapeCod">
			321 School St<br>
			<strong>Cape Cod</strong>, Massachusetts, USA<br>
			02635<br>
			508.428.8898
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d381041.4682042548!2d-70.34796862056197!3d41.744541592158306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1449192329479"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>


</div>