<div class="aboutMeTopicMain" ng-controller="aboutMeTopicCtrl">

	<div class="aboutTopicText" ng-include="'../img/aboutMe.svg'"></div>

	<div class="aboutVersions">
		<div class="longVersion" ng-click="onVersionClick('long')"><a>long bio</a></div>
		<div class="shortVersion" ng-click="onVersionClick('short')"><a>short bio</a></div>
		<div class="faqVersion" ng-click="onVersionClick('faq')"><a>FAQs</a></div>
		<div class="contactVersion" ng-click="onVersionClick('contact')"><a>contact</a></div>
	</div>


	<button class="btn btn-success btnResume" ng-click="doResumeDownload()">download resume</button>

	<!--<i class="fa fa-cogs fa-3x iconCogs" ng-click="onVersionClick('tools')"></i>-->

	<div class="aboutMeLong" ng-bind-html="aboutMeLongText"></div>

	<div class="aboutMeShort">
		<div class="timeLine"></div>
	</div>

	<div class="aboutFAQ">
		<br>
		<strong>How many years of software development experience do you have?</strong>
		<br>
		Beginning with my work with the Ontario Government in 1995, 20 years experience.
		<br><br>
		<strong>How much experience do you have in the full <span style="font-style: italic">'Software Development Life Cycle'</span>?</strong>
		<br>
		Beginning with Allaire, then Macromedia, Adobe, Sun Life and IBM, I have 15 years experience. This entails
		everything from <span style="font-style: italic">Initiation</span>
		all the way to <span style="font-style: italic">Implementation</span> and <span style="font-style: italic">Maintenance</span>.
		<br><br>
		<strong>Have you developed commercial software?</strong>
		<br>
		Yes, I was part of the team that created Allaire Spectra (a Content Management System based on ColdFusion),
		ColdFusionMX, Flash Media Server, and Adobe Flex
		(now Apache Flex).
		<br><br>
		<strong>Have you managed development teams?</strong>
		<br>
		I have managed teams as small as one, up to approximately 12, including developers, UX/graphics/content
		professionals, middle-tier (java) developers, and dba's.
		<br><br>
		<strong>What tools do you have experience using to assist in managing projects?</strong>
		<br>
		I have experience with a number of now deprecated project management tools, but I now rely on Jira to handle all
		issue and project tracking, and Git for version control.
		<br><br>
		<strong>From a developer perspective, what is your strong suit?</strong>
		<br>
		As a Front-end developer. I would list Javascript, particularly in context of the AngularJS framework as my
		strongest suit, and Java in the Android SDK, followed by Java on the server - specifically in the Google
		Cloud Platform (PaaS). Of course, I have expert experience in Actionscript 3.0 due to my 8 years as an
		enterprise Flex developer. I have retained a working knowledge of ColdFusion from
		my days working with Spectra and Under Armour.
		<br><br>
		<strong>What other web related technologies do you have expertise in?</strong>
		<br>
		I am very comfortable with a range of graphics applications, particularly from the Adobe Create Cloud, be it
		Illustrator, Fireworks, Flash Builder, Photoshop or Inkscape. That being said,
		as a front-end developer, I always defer to UX/Graphics artists.
		<br><br>
		<strong>How would you rate your familiarity with databases?</strong>
		<br>
		As a front to middle tier developer, I am very familiar with both SQL and NoSQL databases, as well as Java Data
		Objects (JDO). But as with professional graphics artists,
		I prefer that to work with a team that has an experienced DBA.
		<br><br>
		<strong>Is there a preference for the size team you work with?</strong>
		<br>
		I have worked on teams as small as one (me) up to 100 people. I prefer to work with smaller teams (< 20), but
		my experience has shown me that it is the management of the team
		rather than the size of the team that is most important.
		<br><br>
		<strong>Then how do you quantify good team management?</strong>
		<br>
		It starts out with good planning. There must be clearly defined requirements, and documents that provide a
		record of decisions. Project management then brings in subject matter
		experts in the various disciplines to provide guidance on the type of technologies to use, technical hurdles,
		and time estimates to solve those hurdles. Using Agile methodologies,
		management will then monitor progress and react to time estimates by adjusting resources or expectations.
		Nothing ever goes as planned. Resources (people) may be unexpectantly
		reallocated, unexpected technological challenges will arise, or estimates (true to their name) were not accurate
		enough to ensure delivery quanlity or quantity. This is the norm.
		<br><br>
		<strong>If nothing goes as planned, how do you intend to deliver good product?</strong>
		<br>
		This is where my decades of experience comes to play. And not just in software development. Having had the
		experience of being on teams that delivered product either
		must later than expected, or missing features that were part of requirements, it is of paramount importance that
		the management team 'bake' the reality of application development.
		All software projects are subject to three fatal mechanisms:
		<br>
		<ol>
			<li>Estimates are made by non-programmers</li>
			<li>Project Managers are unable to prevent 'scope creep'</li>
			<li>Project Managers are too dependent on estimates provided by overly confident, or overly optimistic
				developers
			</li>
		</ol>
		Thus from my years of experience being on both successful and unsuccessful projects, I am able to implement all
		my experience to ensure the highest probability of success.
		<br><br>
		<strong>What are the most valuable skills you bring to the table?</strong>
		<br>
		I bring a wealth of knowledge as related to designing, building and managing software development projects. I
		have seen projects succeed
		and fail - and I understand the procedures and attitudes that lead projects to success. I have experience in all
		facets of web technologies
		spanning graphics to databases - but I choose to focus my talents in front-end technologies, especially mobile
		Android technology, and web
		technology that utilizes modern Single Page App (SPA) approaches, in particular AngularJS frameworks.
		<br><br>
		<strong>Last Question. Full-time or contract positions?</strong>
		<br>
		I am open to both. Truthfully, it depends on the type of project, my interest in the project, the technologies
		involved, the people involved, location, and management. As
		much as possible I want to ensure success of the project by knowing that I bring the required expertise to the
		table, that I have support of a good team and management,
		and that I will continue to apply and enhance my skill set.
	</div>

	<div class="aboutContact">
		<div class="addressEmail">
			<i class="fa fa-envelope"></i>&nbsp;mikecorbridge@mcorbridge.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
				class="fa fa-phone-square"></i>&nbsp;617.964.4529
		</div>

		<div class="addressToronto">
			133 Hazelton Ave, Suite 401<br>
			<strong>Toronto</strong>, Ontario, Canada <br>
			M5R 0A6<br>
			416.962.5785
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d219728.55536353288!2d-79.31864513237153!3d43.64785803623462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1449190737103"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="addressBoston">
			197 8th St., #620<br>
			<strong>Boston</strong>, Massachusetts, USA<br>
			02129<br>
			617.242.0585
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d94366.2590246443!2d-71.07947515459752!3d42.34368329128621!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3652d0d3d311b%3A0x787cbf240162e8a0!2sBoston%2C+MA%2C+USA!5e0!3m2!1sen!2sca!4v1449192222270"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>

		<div class="addressCapeCod">
			321 School St<br>
			<strong>Cape Cod</strong>, Massachusetts, USA<br>
			02635<br>
			508.428.8898
			<br><br><br>
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d381041.4682042548!2d-70.34796862056197!3d41.744541592158306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sca!4v1449192329479"
					width="200" height="150" frameborder="0" style="border:0" allowfullscreen></iframe>
		</div>
	</div>


</div>