<div class="blog">
	<svg class="blogSVG"
		 viewBox="0 0 225 125"
		 height="125"
		 width="225">

		<g
				transform="translate(0,-927.36218)"
				id="layer1">
			<g
					id="text3371"
					style="font-style:normal;font-weight:normal;font-size:17.5px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1">
				<text
         id="text3410"
         y="972.36218"
         x="118.57143"
         style="font-style:normal;font-weight:normal;font-size:35px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;"
         xml:space="preserve"><tspan
           y="972.36218"
           x="118.57143"
           id="tspan3412" /></text>
				<g
						id="text3414"
						style="font-style:normal;font-weight:normal;font-size:17.5px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1">
					<text
           id="text3458"
           y="999.99658"
           x="32.681786"
           style="font-style:normal;font-weight:normal;font-size:45.4276619px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
           xml:space="preserve"><tspan
             style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:45.4276619px;line-height:125%;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';text-align:start;writing-mode:lr-tb;text-anchor:start"
             y="999.99658"
             x="32.681786"
             id="tspan3460">blog</tspan></text>
				</g>
			</g>
		</g>
	</svg>

	<div class="blogIcon"></div>

</div>