
<!-- dependencies:   _infoWindows.scss, infoWindows.js-->

<div ng-controller="infoCtrl">
	<div class="info0"><i class="fa fa-bars fa-3x menuIcon" ng-click="menuAction($event,0)" ng-mouseover="menuAction($event,0)" ng-mouseleave="menuAction($event,0)"></i></div>
	<div class="info1"><i class="fa fa-bars fa-3x menuIcon" ng-click="menuAction($event,1)" ng-mouseover="menuAction($event,1)" ng-mouseleave="menuAction($event,1)"></i></div>
	<div class="info2"><i class="fa fa-bars fa-3x menuIcon" ng-click="menuAction($event,2)" ng-mouseover="menuAction($event,2)" ng-mouseleave="menuAction($event,2)"></i></div>
	<div class="info3"><i class="fa fa-bars fa-3x menuIcon" ng-click="menuAction($event,3)" ng-mouseover="menuAction($event,3)" ng-mouseleave="menuAction($event,3)"></i></div>
</div>