<div class="madeWithTitle">

	<svg
			id="svg2"
			viewBox="0 0 100 20"
			height="20"
			width="100">
		<g
				transform="translate(0,-1032.3622)"
				id="layer1">
			<g
					id="g3346">
				<text
         xml:space="preserve"
         style="font-style:normal;font-weight:normal;font-size:7.5px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="-1.160714"
         y="1049.4156"
         id="text3336"><tspan
           id="tspan3338"
           x="-1.160714"
           y="1049.4156"
           style="font-size:21.25px;fill:#333333;letter-spacing:-2.2px;-inkscape-font-specification:'sans-serif Bold';font-family:sans-serif;font-weight:bold;font-style:normal;font-stretch:normal;font-variant:normal">made</tspan></text>
      <text
         xml:space="preserve"
         style="font-style:normal;font-weight:normal;font-size:7.5px;line-height:125%;font-family:sans-serif;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
         x="56.607143"
         y="1049.3264"
         id="text3340"><tspan
           id="tspan3342"
           x="50"
           y="1049.3264"
           style="font-size:21.25px;fill:#999999">with</tspan></text>
			</g>
		</g>
	</svg>

</div>