

  <div ng-click="doSVGTitleTween()">

	  <svg class="mcorbridgeAppArch"
		   id="svg3351"
		   viewBox="0 0 800.00001 50.000001"
		   height="50"
		   width="800">

		  <g
				  transform="translate(0,-1002.3622)"
				  id="layer1">
			  <text
       transform="scale(0.86793931,1.1521543)"
       id="text3359"
       y="902.32196"
       x="17.832308"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:37px;line-height:125%;font-family:sans-serif;-inkscape-font-specification:'sans-serif, Bold';text-align:start;letter-spacing:0px;word-spacing:0px;writing-mode:lr-tb;text-anchor:start;fill:#b7b7b7;fill-opacity:1;stroke:none;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       xml:space="preserve"><tspan
         style="font-size:28px;-inkscape-font-specification:'Century Gothic Bold';font-family:'Century Gothic';font-weight:normal;font-style:normal;font-stretch:normal;font-variant:normal"
         y="902.32196"
         x="17.832308"
         id="tspan3361">michael d corbridge :: application design / build</tspan></text>
		  </g>
	  </svg>


  </div>


