<div class="portfolioTopicMain" ng-controller="portfolioTopicCtrl">

	<div class="portfolioTopicText" ng-include="'../img/portfolio.svg'"></div>
	<div class="portfolioTopicDescription">(companies I have worked for, and with)</div>

	<div class="portfolioContainer"></div>

	<table class="portfolioTable">
		<tr>
			<td><img src="../img/portfolio/moe.png"></td>
			<td><img src="../img/portfolio/hyperion.png"></td>
			<td><img src="../img/portfolio/vialog.png"></td>
			<td><img src="../img/portfolio/areaDigital.png"></td>
			<td><img src="../img/portfolio/analog.png"></td>
		</tr>

		<tr>
			<td><img src="../img/portfolio/allaire.png"></td>
			<td><img src="../img/portfolio/macromedia.png"></td>
			<td><img src="../img/portfolio/adobe.png"></td>
			<td><img src="../img/portfolio/sunLife.png"></td>
			<td><img src="../img/portfolio/cigna.png"></td>
		</tr>

		<tr>
			<td><img src="../img/portfolio/genzyme.png"></td>
			<td><img src="../img/portfolio/amex.png"></td>
			<td><img src="../img/portfolio/nyu.png"></td>
			<td><img src="../img/portfolio/bbc.png"></td>
			<td><img src="../img/portfolio/teleroute.png"></td>
		</tr>

		<tr>
			<td><img src="../img/portfolio/morganStanley.png"></td>
			<td><img src="../img/portfolio/philips.png"></td>
			<td><img src="../img/portfolio/at&t.png"></td>
			<td><img src="../img/portfolio/jostens.png"></td>
			<td><img src="../img/portfolio/astraZen.png"></td>
		</tr>

		<tr>
			<td><img src="../img/portfolio/oldcastle.png"></td>
			<td><img src="../img/portfolio/ibm.png"></td>
			<td><img src="../img/portfolio/ua.png"></td>
			<td><img src="../img/portfolio/soundShapes.png"></td>
			<td><img src="../img/portfolio/equinox.png"></td>
		</tr>

	</table>

</div>