body {
	background-color: #000000;
}

html * {
	//font-size: 1em !important;
	//color: #b7b7b7 !important;
	//font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
	position: absolute;
	height: 10%;
	width: 100%;
	top: 0px;
	left: 0px;
	background-color: #b7b7b7;
}

.headerTitle {
	position: absolute;
	top: 5%;
	left: 0px;
}

.about {
	position: absolute;
	height: 15%;
	width: 75%;
	top: 15%;
	left: -100%;
	background-color: #b7ad32;
}

.portfolio {
	position: absolute;
	height: 15%;
	width: 75%;
	top: 35%;
	left: -100%;
	background-color: #d16320;
}

.projects {
	position: absolute;
	height: 15%;
	width: 75%;
	top: 55%;
	left: -100%;
	background-color: #767676;
}

.blog {
	position: absolute;
	height: 15%;
	width: 75%;
	top: 75%;
	left: -100%;
	background-color: #dbdba1;
}

.topicContent {
	position: absolute;
	height: 71%;
	width: 73%;
	top: 17%;
	left: 13%;
	border: 2px solid #fffe11;
	visibility: hidden;

	.aboutContent {
		position: absolute;
		height: 88%;
		width: 99%;
		top: 10%;
		left: 0.5%;
		border: 1px solid greenyellow;
		visibility: hidden;
		font-size: 28pt;
		font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
	}

	.portfolioContent {
		position: absolute;
		height: 88%;
		width: 99%;
		top: 10%;
		left: 0.5%;
		border: 1px solid #ff8dcf;
		visibility: hidden;
	}

	.projectsContent {
		position: absolute;
		height: 88%;
		width: 99%;
		top: 10%;
		left: 0.5%;
		border: 1px solid #76f7ff;
		visibility: hidden;
	}

	.blogContent {
		position: absolute;
		height: 88%;
		width: 99%;
		top: 10%;
		left: 0.5%;
		border: 1px solid #0c113c;
		visibility: hidden;
	}
}

.aboutTitle {

}

.portfolioTitle {

}

.projectsTitle {

}

.blogTitle {

}

.footer {
	position: absolute;
	height: 5%;
	width: 100%;
	top: 95%;
	left: 0px;
	background-color: #b7b7b7;
}

.tester {
	border: 3px solid greenyellow;
}