@import 'partials/rotateSegment';
@import 'partials/infoWindows';
@import 'partials/aboutMe';
@import 'partials/projects';
@import 'partials/portfolio';
@import 'partials/blog';
@import 'partials/labella';

body{
	overflow-y: hidden; // hide vertical
	overflow-x: hidden; // hide horizontal
}


.screenDimensions{
	position:absolute;
	top: 85%;
	left: 50%;
	margin-left: -140px;
	visibility: hidden;
}

.progressInfo0{
	position:absolute;
	top: -12%;
	left: 50%;
	margin-left: -76px;
	height: 150px;
	width: 500px;
	//border: 1px black solid;
	background-image: url("../img/txtSearch.png");
	background-repeat: no-repeat;
	opacity: 0;
	}

.progressInfo1{
	position:absolute;
	top: -12%;
	left: 50%;
	margin-left: -76px;
	height: 150px;
	width: 500px;
	//border: 1px black solid;
	background-image: url("../img/txtLoad.png");
	background-repeat: no-repeat;
	opacity: 0;
}

.progressInfo2{
	position:absolute;
	top: -12%;
	left: 50%;
	margin-left: -76px;
	height: 150px;
	width: 500px;
	//border: 1px black solid;
	background-image: url("../img/txtComplete.png");
	background-repeat: no-repeat;
	opacity: 0;
}

.header {
	position:absolute;
	top:0%;
	left:0%;
	width: 400px;
	height: 75px;
	background: #333333;
	color: #b7b7b7;
	visibility: hidden;
}


.footer {
	position:absolute;
	bottom:0%;
	left:0%;
	width: 400px;
	height: 75px;
	background: #333333;
	color: #b7b7b7;
	visibility: hidden;
}

.footerContent{
	position:absolute;
	top:10px;
	left:100px;
	width: 400px;
	height: 75px;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.contactInfo {
	position: absolute;
	top: 20px;
	left: 40%;
	width: 400px;
	height: 20px;
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.co{
	position: absolute;
	top:10px;
	left: 10px;
	height: 50px;
	width: 50px;
	background-image: url('../img/co.svg');
	background-repeat: no-repeat;
	visibility: hidden;
	opacity: 0;
}

.mcorbridgeAppArch{
	position: absolute;
	top: 9px;
	left: 308px;
	height: 50px;
	width: 735px;
	visibility: visible;
	opacity: 0;
	transform: scale(1.5, 1.3);
}

.madeWith{
	position: absolute;
	top:0px;
	left: 94%;
	height: 50px;
	width: 50px;
}

.madeWithAngular{
	position: absolute;
	top:-10px;
	left: 20px;
	height: 50px;
	width: 50px;
	visibility: visible;
	opacity: 0;
	transform: scale(0.3,0.3);
}


.madeWithGreenSock{
	position: absolute;
	top:-25px;
	left: 0px;
	height: 50px;
	width: 50px;
	visibility: visible;
	opacity: 0;
	transform: scale(0.2,0.2);
}

.madeWithTitle {
	position: absolute;
	top: 73px;
	left: 25%;
	height: 20px;
	width: 100px;
	opacity: 0;
	transform: scale(0.75, 0.75);
}

.goBack {
	position: absolute;
	top: 73px;
	left: 1%;
	opacity: 1;
	color: #2bb02c;
	cursor: pointer;
	opacity: 0;
}

.aboutMe {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	opacity: 1;
}

.aboutMeSVG {
	position: absolute;
	top: 10px;
	left: 0px;
	height: 125px;
	width: 225px;
	opacity: 1;
	transform: scale(1.2, 1.2);
}

.aboutMeIcon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	background-image: url("../img/about.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.skunkWorks {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	opacity: 1;
}

.skunkWorksSVG {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 125px;
	width: 225px;
	opacity: 1;
	transform: scale(1.2, 1.2);
}

.skunkWorksIcon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	background-image: url("../img/projects.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.portfolio {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	opacity: 1;
}

.portfolioSVG {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 125px;
	width: 225px;
	opacity: 1;
	transform: scale(1.2, 1.2);
}

.portfolioIcon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	background-image: url("../img/portfolio.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.blog {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	opacity: 1;
}

.blogSVG {
	position: absolute;
	top: 0px;
	left: 20px;
	height: 125px;
	width: 225px;
	opacity: 1;
	transform: scale(1.2, 1.2);
}

.blogIcon {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 125px;
	width: 225px;
	background-image: url("../img/blog.png");
	background-repeat: no-repeat;
	opacity: 1;
}

.searchDialog {
	height: 125px;
	width: 225px;
	border: 3px solid black;
	background-color: white;
	border-radius: 10px;

	//this is a test
	span {
		background-color: #000066;
	}
}

.leaveMessage {
	position: absolute;
	top: 42px;
	left: 85%;
	height: 60px;
	width: 200px;
	border-radius: 20px;
	background-color: #767676;
	border: 3px black solid;
	visibility: hidden;
	cursor: pointer;
}

.vr {
	width: 3px;
	background-color: #000;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50px;
}

.modalFoo {
	height: 150px;
	width: 850px;
	border-radius: 20px;
	border: 3px black solid;

	.textComment {
		height: 120px;
		width: 820px;
		margin: 5px 5px 5px 5px;
		resize: none;
		border: none;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}

.toolsChest {
	position: absolute;
	top: 0;
	left: -420px;
	width: 400px;
	height: 100%;
	background-color: black;
	border: 1px solid #333;
	-webkit-box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.32);
	box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.32);
	font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;

	.getComments {
		position: absolute;
		top: 100px;
		left: 10%;
		width: 70%;
		font-size: large;
		color: white;
		height: 100px;
		line-height: 100px;
		text-align: center;
		//border: 1px white solid;
	}

	.signIn {
		position: absolute;
		top: 200px;
		left: 10%;
		width: 70%;
		font-size: large;
		color: white;
		height: 100px;
		line-height: 100px;
		text-align: center;
		//border: 1px white solid;
	}

	.signOut {
		position: absolute;
		top: 300px;
		left: 10%;
		width: 70%;
		font-size: large;
		color: white;
		height: 100px;
		line-height: 100px;
		text-align: center;
		//border: 1px white solid;
	}

	.deviceDims {
		position: absolute;
		top: 400px;
		left: 10%;
		width: 70%;
		font-size: large;
		color: white;
		height: 100px;
		line-height: 100px;
		text-align: center;
		//border: 1px white solid;
	}

	.madeBy {
		position: absolute;
		top: 500px;
		left: 10%;
		width: 70%;
		font-size: large;
		color: white;
		height: 100px;
		line-height: 100px;
		text-align: center;
		//border: 1px white solid;
	}
}

.fa-times-circle-o {
	position: absolute;
	top: 5px;
	left: 90%;
	color: white;
	&:hover {
		color: red;
	}
}

.fa-commenting-o {
	color: white;
	float: right;
	&:hover {
		color: #33db39;
	}
}

.fa-sign-in {
	color: white;
	float: right;
	&:hover {
		color: #33db39;
	}
}

.fa-sign-out {
	color: white;
	float: right;
	&:hover {
		color: #33db39;
	}
}

.fa-arrows {
	color: white;
	float: right;
	&:hover {
		color: #33db39;
	}
}


.commentItem {
	border: 1px solid black;
	margin: 3px 3px 3px 3px;
	background-color: rgba(123, 144, 213, 0.32);
	width: 95%;
}

.commentList {
	position: absolute;
	top: 5px;
	left: 20px;
	width: 790px;
	height: 385px;
	//border: 1px solid black;
	overflow-y: auto;
	overflow-x: hidden;
}

.modal-body {
	width: 800px;
	height: 400px;
}

.fa-wrench {
	color: white;
	float: right;
	&:hover {
		color: #33db39;
	}
}





